.ls-none {
  display: none;
}

.text-left {
  text-align: left;
}

.pointer {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.blinking {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 900px) {
  .ss-none {
    display: none !important;
  }

  .ls-none {
    display: block;
  }

  button {
    margin-bottom: 2px !important;
  }
}