.ls-none {
    display: none;
  }

.text-left {
  text-align: left;
}

.pointer {
  cursor: pointer;
}

  
  @media (max-width: 900px) {
    .ss-none {
        display: none !important;
    }

    .ls-none {
        display: block;
      }
  }