* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #555299;
  --bg-subMenu: #918ecd;
  --text-color: black;
  --header-color: #ffffff;
  --albg-color: #23272f;
  --altext-color: white;
  --subMenuText-color: rgb(255, 255, 255);
}

[data-theme="grey"] {
  --bg-color: #666866;
  --bg-subMenu:#888888;
  --subMenuText-color: rgb(255, 255, 255);
}

[data-theme="blue"] {
  --bg-color: #03a0e7;
  --bg-subMenu: #8fd3f3;
  --subMenuText-color: black;
}

[data-theme="brown"] {
  --bg-color: #8b2424;
  --bg-subMenu: #b15555;
  --subMenuText-color: rgb(255, 255, 255);
}

[data-theme="palePink"] {
  --bg-color: #bc3c8b;
  --bg-subMenu: #c781ac;
  --subMenuText-color: black;

}

[data-theme="peach"] {
  --bg-color: #bc8f3c;
  --bg-subMenu: #dabb82;
  --subMenuText-color: black;
}

[data-theme="green"] {
  --bg-color: #22d8a9;
  --bg-subMenu: #96f9e0;
  --subMenuText-color: black;
}

.row {
  width: 100%;
}

.btn {
  width: 100%;
}

.btn-sm {
  height: 30px;
  padding: 0;
  margin: 0;
}

.pointer {
  cursor: pointer;
  color: white;
}
.pointer:hover {
  cursor: pointer;
  box-shadow: #ced4da;
}

.form-group {
  position: relative;
  margin-bottom: 0.4rem;
}

.form-control {
  border: 1px solid #ced4da;
  height: 24px !important;
  box-shadow: none;
  height: 30px !important;
}

.form-control:not(:placeholder-shown) + label,
.form-control:focus + label {
  font-size: 10px !important;
  /* color: #777; */
  position: absolute;
  top: -5px;
  left: 7px;
  box-shadow: none;
  background-color: #fff;
  background-image: linear-gradient(#446faf03, #446faf03) !important;
  padding: 0px 5px;
  transition: top 0.1s ease-out, left 0.1s ease-out, font-size 0.1s ease-out;
}

.form-control:focus + label,
.form-control:not(:placeholder-shown) + label {
  top: -5px;
  left: 0px !important;
  background-color: #fff;
  background-image: linear-gradient(#446faf03, #446faf03) !important;
  padding: 0px 5px;
  box-shadow: none;
  font-size: 10px !important;
  /* color: #007bff; */
  font-weight: 600 !important;
  outline: 0;
}
.label {
  top: -4px;
  left: 0px !important;
  font-weight: bold !important;
  background: #fff;
  line-height: 5px;
  padding: 1px 5px;
  /* margin-bottom: 0 !important; */
  font-size: 9px !important;
}
.label-item {
  font-size: 12px !important;
}
input {
  height: 30px;
}

input:focus {
  outline: 0;
  box-shadow: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"] {
  text-align: right;
}

/* Adjust label position if input box is not empty */
.form-control:not(:placeholder-shown) + label {
  top: -5px;
  left: 7px;
  background-color: #fff;
  background-image: linear-gradient(#446faf03, #446faf03) !important;
  padding: 0px 5px;
  font-size: 10px !important;
  font-weight: 600 !important;
}

.lable {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 14px;
  font-weight: 500 !important;
  display: inline-block;
  max-width: 80%;
  margin-left: 6px;
  border-radius: 7px;

  /* color: #4f90d6; */
}

#search:focus-within + .lable,
#search input[type="text"]:not(:placeholder-shown) + .lable {
  top: -5px;
  left: 2;
  background-color: #fff;
  background-image: linear-gradient(#f4f6f9, #fff) !important;
  padding: 0px 5px !important;
  font-size: 9px !important;
  font-weight: 600 !important;
  outline: 0;
  display: inline-block;
  max-width: 80%;
}

#searchtest > .p-inputwrapper-filled + .lable {
  top: -5px;
  left: 2;
  background-color: #fff;
  background-image: linear-gradient(#f4f6f9, #fff) !important;
  padding: 0px 5px !important;
  font-size: 9px !important;
  font-weight: 600 !important;
  outline: 0;
  display: inline-block;
  max-width: 80%;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.maindiv {
  width: 100%;
  height: 100%;
  position: relative;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(181, 209, 218, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.itdose-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 50px;
  opacity: 0.2;
}

@keyframes ldio-x2uulkbinbj {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.ldio-x2uulkbinbj div {
  left: 133.44px;
  top: 47.26px;
  position: absolute;
  animation: ldio-x2uulkbinbj linear 1.36986301369863s infinite;
  background: #070707;
  width: 11.12px;
  height: 11.12px;
  border-radius: 5.56px / 5.56px;
  transform-origin: 5.56px 91.74px;
}

.ldio-x2uulkbinbj div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.304631441617743s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(2) {
  transform: rotate(17.142857142857142deg);
  animation-delay: -1.2393998695368558s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(3) {
  transform: rotate(34.285714285714285deg);
  animation-delay: -1.1741682974559686s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(4) {
  transform: rotate(51.42857142857143deg);
  animation-delay: -1.1089367253750815s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(5) {
  transform: rotate(68.57142857142857deg);
  animation-delay: -1.0437051532941943s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(6) {
  transform: rotate(85.71428571428571deg);
  animation-delay: -0.9784735812133072s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(7) {
  transform: rotate(102.85714285714286deg);
  animation-delay: -0.91324200913242s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(8) {
  transform: rotate(120deg);
  animation-delay: -0.8480104370515329s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(9) {
  transform: rotate(137.14285714285714deg);
  animation-delay: -0.7827788649706457s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(10) {
  transform: rotate(154.28571428571428deg);
  animation-delay: -0.7175472928897586s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(11) {
  transform: rotate(171.42857142857142deg);
  animation-delay: -0.6523157208088715s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(12) {
  transform: rotate(188.57142857142858deg);
  animation-delay: -0.5870841487279843s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(13) {
  transform: rotate(205.71428571428572deg);
  animation-delay: -0.5218525766470972s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(14) {
  transform: rotate(222.85714285714286deg);
  animation-delay: -0.45662100456621s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(15) {
  transform: rotate(240deg);
  animation-delay: -0.3913894324853229s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(16) {
  transform: rotate(257.14285714285717deg);
  animation-delay: -0.32615786040443573s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(17) {
  transform: rotate(274.2857142857143deg);
  animation-delay: -0.2609262883235486s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(18) {
  transform: rotate(291.42857142857144deg);
  animation-delay: -0.19569471624266144s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(19) {
  transform: rotate(308.57142857142856deg);
  animation-delay: -0.1304631441617743s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(20) {
  transform: rotate(325.7142857142857deg);
  animation-delay: -0.06523157208088715s;
  background: #bec4d3;
}

.ldio-x2uulkbinbj div:nth-child(21) {
  transform: rotate(342.85714285714283deg);
  animation-delay: 0s;
  background: #bec4d3;
}

.loadingio-spinner-spinner-nq4q5u6dq7r {
  width: 278px;
  height: 278px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  margin-left: 5px;
  margin-top: 10px;
  z-index: 1;
}

.ldio-x2uulkbinbj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-x2uulkbinbj div {
  box-sizing: content-box;
}
input.form-control {
  font-size: 13px;
  padding: 10px;
}

/* .required-fields */
input.required-fields {
  border-bottom: 1px solid red;
}

input.required-fields-active {
  border-color: #d35050;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    1px 0.5px 5px 0px rgb(201 74 74 / 60%);
  border: 1px solid #e53d3d;
}

.required-select-fields {
  border-bottom: 1px solid red !important;
  border-radius: 5px !important;
}

.required-select-fields .required-select-fields {
  border-bottom: 0px !important;
}
/* required-fields end */

/* error-message */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
/* .error-message-end */

/* box */
/* styles.css */ /* General styles */
.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  font-size: 14px;
}

.card-header {
  border-bottom: 1px solid #e0e0e0;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-color {
  background-color: var(--bg-color);
}
.card-title {
  margin: 0;
  font-size: 18px;
  color: #fff;
}

.card-body {
  padding: 15px;
}

.table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  font-size: 14px;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #e0e0e0;
}

.table th {
  background-color: var(--bg-color);
  color: white;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: var(--bg-color);
}

.table tr:hover {
  background-color: #ddd;
}

.table-responsive {
  overflow-y: auto;
  max-height: 400px;
}

.table-responsive::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
  border-radius: 5px;
}

.table-responsive thead {
  position: sticky;
  top: 0;
  background-color: #fff;
}

/* Form styles */
.form-control {
  margin-bottom: 10px;
}

.row {
  margin: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
  .card {
    padding: 10px;
  }

  .card-header {
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-title {
    font-size: 16px;
  }

  .card-body {
    padding: 8px;
  }

  .table th,
  .table td {
    padding: 8px;
    font-size: 12px;
  }
}

/* Additional custom styles */
.text-white {
  color: #fff;
}

.bg-success {
  background-color: var(--bg-color);
}

.border-success {
  background-color: var(--bg-color);
}

.divResult {
  background-color: #fff !important;
  padding: 1px;
}

.tbRecord {
  font-size: 12px;
  background-color: #ffffff;
  white-space: nowrap;
}

.tbRecord td,
.tbRecord th {
  padding: 3px !important;
}

.tbRecord th {
  background-color: var(--bg-color);
  color: aliceblue;
}

.tbRecord tr:hover {
  background-color: var(--bg-color);
}

/* Responsive table */
@media only screen and (max-width: 800px) {
  #no-more-tables td:before {
    content: attr(data-title);
  }

  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }

  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr {
    border: 1px solid #ccc;
  }

  #no-more-tables td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
    white-space: normal;
    text-align: left;
  }

  #no-more-tables td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
}

/* table-end */

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

.datepicker {
  width: 100%;
}

/* CustomMultiSelectBox.css */


.p-multiselect {
  height: 26px;
  /* border: 2px solid #4CAF50;  */
  /* border-radius: 10px;     */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-multiselect .p-multiselect-label-container {
  background-color: #f0f0f0;
  /* Change background color of the label container */
}

.p-multiselect .p-multiselect-label {
  font-size: 10px !important;
  padding: 0px 0px 0px 12px !important;
  background: #fff !important;
}

.p-multiselect .p-multiselect-items .p-multiselect-item {
  font-size: 16px;
  /* Change font size of the items */
  color: #333;
  /* Change font color of the items */
}

.p-multiselect .p-multiselect-items .p-multiselect-item.p-highlight {
  background-color: #e0e0e0;
  /* Change background color of the selected item */
}

.p-multiselect .p-multiselect-token {
  background-color: #4caf50;
  /* Change background color of the tokens */
  color: #fff;
  /* Change text color of the tokens */
}

.p-multiselect .p-multiselect-token-icon {
  color: #fff;
  /* Change color of the token icons */
}

/* .p-multiselect-item {
  
} */

.p-checkbox .p-checkbox-box {
  width: 15px !important;
  height: 15px !important;
  border-radius: 1px !important;
}

.p-multiselect-item {
  align-items: center;
  padding: 5px 10px;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
  align-items: center;
  /* width: 196px !important; */
}

.p-multiselect-items span {
  font-size: 12px !important;
}
/* scrollbar */

.Flipped{
  direction: rtl;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
  height: 2px !important;
  /* display: none; */
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
  border-radius: 5px;
  height: 2px !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color:var(--bg-color);
}

.text-notification {
  height: 25px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f0f0f0; /* Added background for better visibility */
}
.text-notification span {
  width: 100%;
  font-size: 1em;
  color: rgb(0, 0, 0);
  position: absolute;
  white-space: nowrap; /* Ensure text does not wrap */
  line-height: 20px;
  transform: translateX(100%);
  animation: text-notification 20s linear infinite;
}

.text-notification i {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  padding-top: 4px;
  padding-left: 5px;
  background-color: #ffff;
  height: 100%;
  margin: 0 auto;
  width: 25px;
  /* border-radius: 1rem; */
}
@keyframes text-notification {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-80%);
  }
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
}

/* select-box */

.custom-calendar {
  height: 30px;
  border-radius: 2px;
  width: 100%;
  /* margin-top: 7px; */
  font-size: 12px;
}

.p-datepicker {
  box-shadow: 0px 0px 10px 0px;
  padding: 0 !important;
  width: 218px !important;
  max-width: 100% !important;
}

.p-datepicker-calendar-container {
  padding: 0 !important;
  /* width:230px !important; */
}

.p-datepicker-calendar th,
td {
  padding: 0 !important;
}

.p-datepicker-calendar th > span {
  font-size: 12px;
}

.p-datepicker-calendar td > span {
  font-size: 10px;
  height: 28px !important;
  width: 30px !important;
}

.p-datepicker-title button {
  font-size: 10px !important;
}

.p-datepicker-year .p-link {
  font-size: 10px !important;
}

.p-datepicker-header {
  padding: 0;
  height: 24px;
  /* width: 208px !important; */
}

.p-datepicker-calendar tr {
  text-align: center;
}

.p-datepicker-calendar tbody tr td {
  padding: 0 !important;
.outer-container-main{
  max-width: 100%;
}
}

.outer-container-main{
  max-width: 100%;
}